* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container {
    width: 100%;
    height: 100%;
}

:root{
    --blue: #2B3494;
    --orange: #FF7518;
    --white: #fff;
    --blueTrans: rgba(43,52,148,0.9);
    --orangeTrans: rgba(255,117,24,0.9);
    --whiteTrans: rgba(255,255,255,0.9);
    --blueViolet: #2A1464;
    --btnAdd: #5CB85C;
    --btnAddRight: #1177D1;;
    --border:#ccc;
}


html {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Manage Course */
.course-container {
    padding: 5%;
    min-height: 480px;
}
.modal-add-course-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.modal-update-course-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.btn-add-right:hover {
    background-color: #4f90c9;
    cursor: pointer;
    color: var(--white);
}
.btn-add-modal {
    width: 80%;
    height: 30px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--btnAdd);
    margin-top: 10%;
    color: var(--white);
}
.btn-add-modal:hover{
    background-color: #F0AD4E;
    cursor: pointer;
}

/* Manage Major */
.major-container {
    padding: 5%;
    min-height: 480px;

}
.modal-add-admin-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.modal-update-admin-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
/* Manage event  */
.event-container{
    padding: 5%;
    min-height: 480px;

}
.btn-add {
    height: 50%;
    width: 120px;
    background-color: var(--btnAddRight);
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}
.modal-add-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.btn-choose-file {
    margin-right: 16px;
    width: 37%;
    margin-left: 5px;
}

/* List of Members */
.list-container {
    padding: 5%;
    min-height: 480px;

}
.filter-label {
    padding-left: 16px;
    margin-bottom:10px;
    margin-right: 15px;
}
.modal-container-list {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.filter-bymonth {
    display: flex;
    align-items:center;
    padding-left: 16px;
    margin-top:10px;
    width: 100%;
    margin-bottom: 10px;
}
.modal-input-month {
    width: 45%;
}
.filter-bymajor {
    display: flex;
    width: 100%;
}
.choose-course-major {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
.select-mg-cr {
    width: 93%;
    height: 30px;
    padding-left: 7px;
}
.btn-filter {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:var(--btnAdd);
    margin-top:4%;
    color: #fff;
}
.btn-export {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#b39353;
    margin-top:5%;
    color: #fff;
}

/* Admin */
.user-container {
    padding: 5%;
    min-height: 480px;

}


.mn-title {
    color:#777777;
}
.orange-line {
    margin-top:10px;
    border: 2px solid #FF7518;
}
.table-function {
    display:flex;
    margin-top: 10px;
    position: relative;
    height: 40px;
    margin-bottom:10px;
    align-items: center;
}
.search {
    display: flex;
    height: 80%;
    align-items: center;
    width: 100%;
}
.search-cover {
    height:100%;
    width: 30%; 
    display: flex;
    align-items: center;

} 
.search-box {
    height:100%;
    width: 100%;
    border-radius:4px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.btn-search {
    height:100%;
    width: 80px;
    background-color: #5CB85C;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}
.btn-search:hover {
    background-color:#6495ED;
    color: #000;
    cursor: pointer;
}
.btn-add-right {
    height: 80%;
    width: 120px;
    background-color: #1177D1;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
    position: absolute;
    right: 0;
}
.main-table {
    width:100%;
}
.table-admin {
    border: 0.5px solid #6495ED;
    width: 100%;
    border-collapse: collapse;
}
.table-head {
    background-color:#6495ED;
    border: 0.5px solid #6495ED;
    color: #fff;
    height: 30px;
    font-size: 15px;
    justify-content: center;
}
.head-row {
    font-weight: 400;
}
.table-body {
    background-color: #EEEEEE;
    height: 25px;
    text-align: center;
    border: 1px solid #6495ED;
}
.body-row {
    border: 1px solid #6495ED;
    padding: 4px;
}
.choose-user {
    text-decoration: underline;
}
.choose-user:hover {
    cursor: pointer;
}

/* modal */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color:#fff;
    width: 40%;
    height: fit-content;
    animation: modalFadeIn ease 0.5s;
    border-radius:10px;
}

@keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: translateY(-140px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.modal-head {
    background-color:var(--blue);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    border-radius:10px 10px 0 0;
}
.modal-close {
    position: absolute;
    right:0;
    top:0;
    padding:10px;
    text-decoration: none;
}
.modal-close:hover {
    background-color:#FF0000;
    cursor: pointer;
}
.modal-body {
    padding-top: 16px;
    width: 100%;
}
.modal-input {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 0 10px 0;
}
.gender-label {
    margin-right: 20px;
}
.gender {
    width: 100%;
}
.type-gender {
    margin-left: 5px;
}
.modal-input-box {
    width: 94%;
    height: 30px;
    padding-left: 10px;
    /* border: none; */
    /* border-bottom: 1px solid #ccc; */
}
.modal-footer {
    height: 90px;
    width: 100%;
    background-color:var(--blue);
    margin-top:10px;
    border-radius: 0 0 10px 10px;
    padding-top: 10px;
}
.btn-footer {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    align-items: center;

}
.btn-update {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#5CB85C;
    margin-top:10px;
    color: #fff;
}
.btn-delete {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#FF0000;
    color: #fff;
    margin-top:17px;
}
.btn-delete:hover {
    background-color:#9a3a3a;
    cursor: pointer;
}
.btn-update:hover {
    background-color:#F0AD4E;
    cursor: pointer;
}

.open {
    display: flex;
}





@media screen and (max-width: 900px) { 

    .main-table {
        font-size:7px;
    }
    .head-row {
        font-weight: 400;
        font-size:10px;
    }
    .table-head {
        height: 15px;
    }
    .table-body {
        height: 15px;
    }
    .modal-content {
        width: 80%;
    }
    .btn-add-right {
        width: 70px;
        margin-left: 15px;
        font-size: 7px;
        height: 20px;
    }
    .search-box {
        font-size:8px;
        padding-left: 5px;
    }
    .btn-search {
        font-size:8px;
        width:10%;
    }
    .table-function {
        height: 20px;
        z-index: 0;
    }
    .search {
        height: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) { 

    .main-table {
        font-size:5px;
    }
    .head-row {
        font-size:7px;
        font-weight: 400;
    }

    .btn-add-right {
        width: 70px;
        margin-left: 15px;
        font-size: 7px;
        height: 20px;
    }
}
