*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.changepw-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: calc(23% - 18%); */
    margin: 30px 0;
}
.changepw-form{
    background-color:#fff; 
    width: 50%;
    height: 60%;
    align-items: center;
    border: 2px solid #FF7518;
    border-radius: 20px;
    display: block;
    padding: 30px 0px 30px 0px;
}
.changepw-title{
    font-weight: bold;
    color: #777;
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.changepw-item{
    display: block;
    padding: 10px;
    margin: 0px 50px 0px 50px;
}
.changepw-input{
    display: block;
    border: none;
    border-bottom: 0.5px solid #eee;
    outline: none;
    width: 100%;
    height: 30px;
    margin: 10px 0px 10px 0px;
    /* padding: 0px 25px 0px 25px; */
}
.changepw-btn{
    width: 50%;
    height: 35px;
    border-radius: 20px;
    background-color: #1177D1;
    color: #fff;
    border: none;
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    box-shadow: 3px 5px 7px 0.5px #ccc;
    cursor: pointer;
}
.changepw-btn:hover{
    background-color: #1d82da;
    transition: 0.3ms;
}


/* Extra Change Infor */
.changeinfor-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: calc(30% - 25%); */
    margin: 30px 0;
}
.choose-major-infor {
    margin: 25px 48px 0px 5%;
    width: 100%;
}
.major-infor {
    width: 75%;
    height: 30px;
    margin-left:15px
}
.choose-gender-infor {
    margin: 30px 48px 15px 5%;
    display: flex;
}
.type-gender-user {
    margin-left: 20px;margin-right: 10px
}
@media screen and (max-width: 900px) {
    .choose-major-infor {
        margin: 25px 48px 0px 8%;
    }
    .choose-gender-infor {
        margin: 30px 48px 15px 8%;
    }
    .changepw-wrapper {
        margin-top: calc(23% - 2%);
    }
    .changepw-title{
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .changepw-item{
        padding: 5px;
        margin: 0px 40px 0px 40px;
    }
    .changepw-input{
        height: 30px;
        margin: 7px 0px 7px 0px;
    }
    .major-infor {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .changepw-title{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .changepw-item{
        padding: 5px;
        margin: 0px 25px 0px 25px;
    }
    .changepw-input{
        height: 25px;
        margin: 5px 0px 5px 0px;
    }
    .major-infor {
        width: 60%;
        height: 25px;
    }
    .choose-major-infor {
        margin: 15px 48px 0px 8%;
    }
    .choose-gender-infor {
        margin: 15px 48px 5px 8%;
    }

}