html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user_container{
    padding: 5%;
}
.att-title{
    color:#777;
}
.orange-line{
    margin-top: 10px;
    border: 2px solid #FF7518;
}
.table-function{
    margin-top: 30px;
}
.choose-month{
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
}
.choose-month-cover{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
}
.search-box{
    height: 50%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 20px;

}
.btn-search{
    height: 50%;
    width: 80px;
    background-color: #5CB85C;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}
.btn-search:hover{
    background-color: #6495ED;
    color: #000;
    cursor: pointer;
}
.main-table{
    width: 100%;
}

.table-user{
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}
.table-head{
    border: 0.5px solid #ccc;
    background-color: #6495ED;
    color: #fff;
    height: 30px;
    font-size: 15px;
    justify-content: center;
}
.head-row{
    font-weight: 400;
}
.table-body{
    background-color: #EEE;
    height: 25px;
    text-align: center;
    border:  1px solid #6495ED;
}
.body-row{
    border:  1px solid #6495ED;
}