:root{
    --blue: #2B3494;
    --orange: #FF7518;
    --white: #fff;
    --blueTrans: rgba(43,52,148,0.9);
    --orangeTrans: rgba(255,117,24,0.9);
    --whiteTrans: rgba(255,255,255,0.9);
    --blueViolet: #2A1464;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* The header css */

.header{
    display: block;
    height: 300px;
    background-color: var(--white);
}
.header-logo{
    width: auto; 
    height: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.header-title{
    font-size: 50px;
    text-align: center;
    margin-top: calc(50px - 40px);
    color: var(--blueViolet);
}

/* The resposive button css */

.respo{
    height: 60px;
    background-color: #2B3494;
    display: none;
}

.respo-icon{
    color: var(--white);
    font-size: 25px;
    margin-top: calc(30px - 19px);
    margin-left: 30px;
    padding: 5px 7px 5px 7px;
    border: 2px solid var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.respo-icon:hover{
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: 0.3s;
}

/* The menu css */

.menu{
    width: 100%;
    height: fit-content;
    background-color: var(--blue);
    /* position: relative; */
    /* margin-bottom: 5px; */
}

.menu-bar{
    display: flex;
    list-style: none;
}

.menu-item{
    height: fit-content;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
}

.menu-link{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.menu-item:hover{
    background-color: var(--orange);
    transition: 0.3s;
}

.menu-control{
    position: relative;
}

/* The hierarchy menu css */

.lv2-menu-bar{
    top: 70px;
    position: absolute;
    display: block;
    list-style-type: none;
    background-color: var(--blue);
    width: 250px;
    height: fit-content;
    margin-top: -10px;
    margin-left: -15px;
    padding: 15px 0px;
    border-radius: 10px;
    display: none;
    opacity: 0.9;
    box-shadow: 1px 5px 7px 0.5px rgba(200, 200, 200, 0.1);
    z-index: 20;
}

.lv2-menu-link{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}

.lv2-menu-item{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--white);
    margin: 0px 5px 0px 5px;
}

.lv2-menu-item:hover{
    background-color: var(--orange);
    transition: 0.3s;
}

.menu-drop-icon{
    transform: rotate(-90deg);
}

/* The footer css */

.footer{
    display: block;
    /* margin-top: 5px; */
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
    padding-bottom: 30px;
}

.footer-title{
    padding: 15px 0px;
    border-bottom: 3px solid white;
    width: 50%;
    margin: 0px 15px 30px 15px;
}

.block-info{
    display: flex;
    flex-flow: row wrap;
    margin: 30px 15px 30px 15px;
}

.left-info{
    margin-right: 15%;
}

.right-info{
    margin-left: 15%;
}

.info-char{
    width: max-content;
}

.link-info{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.link-info:hover{
    text-decoration: underline;
}

.ft-coppyright{
    text-align: center;
}

/* The responsive css for smoother sizing */

@media screen and (max-width: 1130px){
    .block-info{
        display: block;
    }

    .left-info{
        margin-right: 0%;
    }
    
    .right-info{
        margin-top: 15px;
        margin-left: 0%;
    }
}


/* The responsive css for phone & tablet */

@media screen and (max-width: 900px) {
    /* The header reponsive css */
    .header{
        height: 170px;
    }
    .header-logo{
        width: auto;
        height: 100px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .header-title{
        font-size: 25px;
    }

    /* The responsove function css */
    .respo{
        width: auto;
        display: block !important;
    }

    /* The menu responsive css */
    .menu{
        position: absolute;
        margin-top: 5px;
        width: 190px;
        display: block !important;
        background: var(--blue);
        opacity: 0.9;
    }
    
    .menu-bar{
        display: none;
    }

    .menu-link{
        font-size: 10px
    }

    .menu-item{
        padding: 10px 5px 10px 5px;
    }

    /* The hierarchy menu css */

    .lv2-menu-bar{
        top: 10px;
        left: 110%;
        width: 120px;
        background-color: var(--blue);
        opacity: 0.9
    }

    .lv2-menu-link{
        font-size: 10px;
    }

    .lv2-menu-item{
        padding: 10px 5px 10px 5px;
    }

    /* The footer responsive css */

    .footer{
        font-size: 10px;
    }
    
    .footer-title{
        border-bottom: 2px solid white;
    }

    .block-info{
        display: block;
    }
    
    .left-info{
        margin-right: 0px;
    }
    
    .right-info{
        margin-top: 15px;
        margin-left: 0px;
    }
    
    .link-info{
        color: var(--white);
        text-decoration: none;
        font-size: 10px;
    }
}