* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container {
    width: 100%;
    height: 100%;
}


html {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* event file */
.event_container{
    padding: 5%;
}
.btn-add {
    height: 50%;
    width: 120px;
    background-color: #1177D1;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}

/* List file */
.list-container {
    padding: 5%;
}


/* Admin */
.user_container {
    padding: 5%;
}
.mn-title {
    color:#777777;
}
.orange-line {
    margin-top:10px;
    border: 2px solid #F0AD4E;
}
.table-function {
    display:flex;
    margin-top: 10px;
    display: flex;
}
.search {
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
}
.search-cover {
    height:100%;
    width: 30%; 
    display: flex;
    align-items: center;

} 
.search-box {
    height:50%;
    width: 100%;
    border-radius:4px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.btn-search {
    height:50%;
    width: 80px;
    background-color: #5CB85C;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}
.btn-search:hover {
    background-color:#6495ED;
    color: #000;
    cursor: pointer;
}

.main-table {
    width:100%;
}
.table-admin {
    border: 0.5px solid #6495ED;
    width: 100%;
    border-collapse: collapse;
}
.table-head {
    background-color:#6495ED;
    border: 0.5px solid #6495ED;
    color: #fff;
    height: 30px;
    font-size: 15px;
    justify-content: center;
}
.head-row {
    font-weight: 400;
}
.table-body {
    background-color: #EEEEEE;
    height: 25px;
    text-align: center;
    border: 1px solid #6495ED;
}
.body-row {
    border: 1px solid #6495ED;
    padding: 4px;
}
.choose-user {
    text-decoration: underline;
}
.choose-user:hover {
    cursor: pointer;
}

/* modal */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color:#fff;
    width: 40%;
    height: fit-content;
    animation: modalFadeIn ease 0.5s;
}

@keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: translateY(-140px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.modal-head {
    background-color:#4169E1;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
.modal-close {
    position: absolute;
    right:0;
    top:0;
    padding:10px;
    text-decoration: none;
}
.modal-close:hover {
    background-color:#FF0000;
    cursor: pointer;
}
.modal-body {
    padding-top: 16px;
    width: 100%;
}
.modal-input {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 0 10px 0;
}
.gender-label {
    margin-right: 20px;
}
.gender {
    width: 100%;
}
.type-gender {
    margin-left: 5px;
}
.modal-input-box {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    
}
.modal-footer {
    height: 90px;
    width: 100%;
    background-color:#4169E1;
    margin-top:10px;
}
.btn-footer {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;

}
.btn-update {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#5CB85C;
    margin-top:10px;
    color: #fff;
}
.btn-delete {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#FF0000;
    color: #fff;
    margin-top:17px;
}
.btn-delete:hover {
    background-color:#9a3a3a;
    cursor: pointer;
}
.btn-update:hover {
    background-color:#F0AD4E;
    cursor: pointer;
}

.open {
    display: flex;
}

@media screen and (max-width: 900px) { 

    .main-table {
        font-size:7px;
    }
    .head-row {
        font-weight: 400;
        font-size:10px;
    }
    .table-head {
        height: 15px;
    }
    .table-body {
        height: 15px;
    }
}

@media screen and (max-width: 500px) { 

    .main-table {
        font-size:5px;
    }
    .head-row {
        font-size:7px;
        font-weight: 400;
    }
    .search {
        height: 30px;

    }
    .search-box {
        font-size:8px;
        padding-left: 5px;
    }
    .btn-search {
        font-size:8px;
        width:27%;
    }
}
